# git ignore
blog/secret.json
# Ignorar la carpeta __pycache__ en cualquier lugar dentro del proyecto
__pycache__/
# Ignorar la carpeta de migraciones en todas partes del proyecto
*/migrations/

blog/media/*